.store-page-wrapper {
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}


@media (max-width: 620px) {
  .store-page-wrapper{
    flex-direction: column;
    padding: 5px;
    /* width: 100%; */
  }
}